$background-color: #f1eeee;
$background-color--dark: #dcdcdb;
$primary-color: #6c6d6c;
$secondary-color: #6c6d6c;
$effect-color: #af1611;
$effect-color--dark: #770e0b;
$effect-color--light: #d8201a;

$gutter--small: 1rem;
$gutter: 2rem;
$gutter--large: 4rem;

$break-at-sm: 40rem;
$break-at-md: 50rem;
$break-at-lg: 64rem;
$break-at-xlg: 70rem;
