.icon {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;

  &--small {
    width: 16px;
    height: 16px;
  }

  &--medium {
    width: 32px;
    height: 32px;
  }

  &--large {
    width: 64px;
    height: 64px;
  }
}
