.article-hero {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__image-container {
    width: 80%;
  }

  &__credit-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 0;
    width: 100%;
    font-style: italic;
  }
  &__credit-label {
    padding-right: 0.3rem;
    margin: 0;
  }
}
